.headhesive ul.menu{
        display: flex;
    width: 71%;
    margin: auto;
    height: 55px;
}
.headhesive ul.menu li a{
    color: white;
    padding: 0px;
}
.menu li{
        list-style: none;
        padding: 10px;
  
    }
.menu li:hover{
        background-color:#287d888f;
    }
.menu li a{
        color: #000;
        text-decoration: none;
    font-weight: 700;
        padding: 7px;
        padding-top: 11px;
    }
.headhesive{
        background-color: #181a1bcf;
    position: fixed;
    z-index: 1;
    width: 100%;
    transform: translateY(-100%);
    transition : 1s;
    border-bottom: 1px solid #fff;
        
}
.headhesive--stick{
 transform: translateY(0);
}
.headhesive--stick li.icon{
display: none;
}
.header .menu li.icon{
    display: none;
}
.headhesive li{
    margin: auto;
    border-radius: 4px;
}

.mobail-menu_icon li{
    color: white;
}
.headhesive--stick .mobail-menu_icon{
    top: 0px;
}
   
 
