.header{
     & .img{
width:  -webkit-fill-available;
    height:400px; 
    position: absolute;
}
    & .blackout{
      width:  -webkit-fill-available;
    height: 400px;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    }
    & .logo-hho{
        position: relative;
        float: left;
    }
    & .hedaer_menu{
        position: relative;
        padding-top: 50px;
    }
    & .menu{
        display: flex;
    }
    & .menu li{
        list-style: none;
        padding: 10px;
    border-right: 1px solid #fff;
    }
    & .menu li:hover{
        background-color: #00cae459;
    }
    & .menu li a{
        color: white;
        text-decoration: none;
    font-weight: 700;
        padding: 7px;
        padding-top: 11px;
    }
    & .main_text{
        position: relative;
        color:white;
            display: inline-grid;
        margin-left: 40px;
    }
    & .main_text h1{
        text-align: center;
    margin-left: -100px;
    margin-top: 10px;
    }
    & .button_sign-up{
            width: 150px;
    height: 50px;
    background-color: #00e3ff87;
    position: relative;
    margin: auto;
    border-radius: 16px;
    opacity: 0.7;
    margin-top: 20px;
        display: flex;
    }
    & .button_sign-up:hover{
        opacity: 1;
        cursor: pointer;
    }
    & .button_sign-up a{
       margin: auto;
    color: white;
    position: relative;
        font-weight: 700;
        text-decoration: none;
    }
}
.technollogy{
    display: flex;
    & #text-content{
        width:55%;
        height: 400px;
        margin-top: 35px;
    }
    & #text-content h1 {
        text-align: center;
        margin-right:50px;
    }
    & #text-content p{
        text-indent: 20px;
            font-size: 18px;
    font-weight: 500;
    }
    & .photo-technology{
     margin-top: 125px;}
}
#hydrogen_cleaning_engine{
        top: 100px;
    position: relative;
    text-align: center;
        display: block;
    width: -webkit-fill-available;
    height: 380px;
    & iframe{
        height: 160px;
    width: 300px;
    float: left;
    margin: 30px;
}
    
}
.recommendation_cleaning_engine{
     width: -webkit-fill-available;
        height: 700px;
        background-image: url(img/engen.png);
        background-repeat: no-repeat;
    position: relative;
    & .recommendation-filling-content{
        h1{
            color: white;
            text-align: center;
            top: 20px;
    position: relative;
        }
        & .top-paragraph{
                color: white;
          width: 950px;
          display: block;
          margin: auto;
          font-size: 21px;
            top: 30px;
    position: relative;
        }
        & .central-paragraph{
            color: white;
    list-style-position: inside;
    position: relative;
    width: 700px;
    margin: auto;
    font-size: x-large;
            top: 15px;
        }
    }
    & .check-mark{
        margin-top: 65px;
    }
    & .check-mark li{
        color: white;
        float: left;
        padding: 15px;
        list-style: none;
        display: grid;
        font-size: larger;
        
    }
    & .check-mark li img{
        margin: auto;
    }
    & .check-mark li p{
        display: grid;
    }
    & .check-mark li .align{
        margin: auto;
    }
    
}
#price-list{
  height: 950px;
    margin-top: 10px;
    & h1{
        color: black;
        text-align: center;
        height: 100px;
    top: 30px;
    position: relative;
    }
    & .block-price-list{
           width: 280px;
    height: 380px;
    border: 1px solid #333;
    border-radius: 22px;
    float: left;
    margin: 7px;
    margin-top: 10px;
    margin-top: 15px;
    display: grid;
        margin-left: 65px;
    }
     & img{
            margin: auto;
            margin-top: 0px;
        }
    & .font-weight{
        font-weight: 700;
    }
    & p{
    position: relative;
    top: -10px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: 400;

    }
    & span{
           float: left;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 8px;

    }
    & p .centr{
       text-align: center;
    width: -webkit-fill-available;
    }
    & .button{
           width: 159px;
    height: 40px;
    background-color: #2d2c27bd;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 7px;
        margin: auto;
            top: -15px;
    position: relative;
        cursor: pointer;
        
    }
    & .button:hover{
        background-color: #2d2c27e0;
        transition: all 0.3s ease-in;
    }
   
}
.background-bottom-block{
    display: grid;
    background-color: #a7a7a775;
    width: 100%;
}
#bottom-block-contacts{
    width: 1000px;
    height: 200px;
    display: inline-flex;
    margin: auto;
    top: 15px;
    position: relative;
    & .contacts{
        display: block;
        float: left;
        padding: 30px;
    }
    & .fa{
        padding-right: 10px;
    }
    & span{
        top: -13px;
    position: relative;
    padding-left: 20px;
    }
    & .centr{
        text-align: center;
    }
}
@media only screen and (max-width:480px){
    .header .img{
        width: fit-content;
    }
    .header .blackout{
        width: 963px;
    }
    .container{
        width: 1000px;
    }
    .logo-hho img{
        height: 100px;
    padding: 4px;
        margin: 20px 0px 0px 0px;
    }
    #hydrogen_cleaning_engine{
        top: 200px;
    }
    .headhesive--stick{
        height: 80px;
    }
    .headhesive ul.menu{
        width: 82%;
        height: 80px;
    }
    .recommendation_cleaning_engine{
        width: 1000px;
        top: 70px;
    }
    #hydrogen_cleaning_engine iframe{
        width: 250px;
    }
    .recommendation_cleaning_engine .check-mark li img{
        width: 60px;
    }
    .recommendation_cleaning_engine .check-mark li p{
        font-size: 15px;
    }
    .recommendation_cleaning_engine .check-mark li{
        padding: 7px;
    }
    #price-list{
            top: 65px;
    position: relative;
    }
    #price-list .block-price-list{
        margin-left: 132px;
    }
    .background-bottom-block{
        width: 1000px;
    position: relative;
    top: 70px;
    }
}
